.blog-comment {
  background-color: #333333;
  color: white;
  border-radius: 10px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin:2px 15% 5px 15%;
}

.blog-comment-header {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}
.author{
  color:rgb(107, 194, 197);
}

.blog-comment-logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.blog-comment-details {
  font-size: 16px;
  font-weight: bold;
}

.blog-comment-body {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 10px;
}

.blog-comment-like {
  filter: hue-rotate(180deg);
  width: 20px;
  height: 20px;
  margin-right: 5px;

}

.blog-comment-like-count {
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
}
.blog-comment-like:hover{
cursor:pointer;

}
.addMessage{
display: flex;
margin:10px;
}
.addMessage>input{
border-radius: 10px;
border: 2px solid black;
padding: 10px;
color: chocolate;
width: 80%;
}
.addMessage>img{
border-radius: 100%;
border: 1px solid black;
}

