<div class="login-container">
  <p class="login-title">Login</p>
  <form (ngSubmit)="loginSubmit(loginForm)" #loginForm="ngForm" class="login-form">
    <label class="form-label">Name</label>
    <div class="form-input-container">
    <input class="form-input" name="username" required type="text" ngModel/></div>
    <label class="form-label">Password</label>
    <div class="form-input-container">
      <input class="form-input" name="password" required type="password" ngModel/>
    </div>
    <div class="form-btn-container">
      <button class="form-btn" type="submit">Enter</button>
    </div>
  </form>
</div>
<div class="signup-link">Don't have an account? Sign Up <a href="/signUp">Here</a></div>
<div class="login-error"
    *ngIf="loginError.length"
  >{{loginError}}
</div> 