<div class="blog-comment">
  <div class="blog-comment-header">
    <img src="data:image/png;base64,{{profile_picture}}" class="blog-comment-logo"/>
    <p class="blog-comment-details">{{title}} by <span class="author">{{author}}</span> at {{created}}</p>
  </div>
  <p class="blog-comment-body">{{body}}</p>
  <div  class="blog-comment-footer">
    <span [ngStyle]="{'color':liked?'red':''}" (click)="like()" class="material-symbols-outlined blog-comment-like">
      thumb_up
      </span>
    <h6 class="blog-comment-like-count">{{likes}}</h6>
  </div>
</div>
